<div class="row mt-2 mb-2">
    <div class="col-12">
        <div class="row">
            <div class="col-12">
                <h1>Tareas pendientes</h1>

                @for(task of taskListPending; track task; let index = $index) {
                  <app-task
                  [task]="task"
                  [index]="index"
                  (remove)="removeTask($event)"
                  (complete)="completeTask($event)"
                  >

                  </app-task>
                } @empty {
                    <span class="d-block">¡Felicidades! No tienes tareas pendientes</span>
                }

                @if(showInputTask) {
                    <div class="input-group mb-3">
                        <input type="text" class="form-control" #taskInput>
                        <button class="btn btn-primary" type="button" (click)="createTask(taskInput.value)">
                            <i class="bi bi-plus"></i>
                            <span>Añadir</span>
                        </button>
                      </div>
                } @else {
                    <button class="btn btn-primary mt-2 mb-2" (click)="showInputTextTask()">
                        <i class="bi bi-plus"></i>
                        <span>Añadir tarea</span>
                    </button>
                }

                @if(errorInputTask) {
                  <div class="alert alert-danger" role="alert">
                    La tarea no puede estar vacía.
                  </div>
                }

            </div>
        </div>
        <div class="row">
            <div class="col-12">
                <h1>Tareas completadas</h1>

                <button class="btn btn-primary mt-2 mb-2" (click)="toggleShowCompleted()">
                  @if(showCompleted) {
                    <i class="bi bi-eye-slash me-1"></i>
                    <span>Ocultar tareas completadas</span>
                  } @else {
                    <i class="bi bi-eye me-1"></i>
                    <span>Mostrar tareas completadas</span>
                  }
                </button>
                @if(showCompleted) {
                  @for(task of taskListCompleted; track task) {
                    <app-task [task]="task"></app-task>
                  } @empty {
                    <span class="d-block">No tienes tareas completadas</span>
                  }
                }
            </div>
        </div>
    </div>
</div>
